.header_title{
    font-size: min(3vw,1.5rem);
    &:hover{
        color: #ffb900;
    }
}
.header_ul{
        width:40%;
        gap:2rem;
    &>li{
        text-align: center;
        width: 25%;
        padding: 1vw;
        border-radius: 5px;
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        position: relative;
        &::before,&::after{
            position: absolute;
            content:"";
            top:0;
            left:0;
            border-radius: 5px;
            width:0;
            height:0;
            border: 0;
        }

    }
}

.choose_li{
    &::before{
        width: 100% !important;
        height:100% !important;
        border-top: 2px solid #ffb900 !important;
        border-right: 2px solid #ffb900 !important;
        transition: width 0.2s ease-in-out,height 0.2s ease-in-out 0.2s !important;
    }
    &::after{
        width: 100% !important;
        height:100% !important;
        border-bottom: 2px solid #ffb900 !important;
        border-left: 2px solid #ffb900 !important;
        transition: border-color ease-out 0.2s, height 0.2s ease-in-out,width 0.2s ease-in-out 0.2s !important;
    }
}


@media screen and (max-width: 725px) and (min-width: 600px){
    .header_ul{
        &>li {
            padding: 4px;
            border-radius: 5px;
        }
    }
}

@media screen and (max-width: 600px){
    .header_ul{
        width: 70%;
        gap:1em;
        &>li{
            padding: 3px;
            font-size: 2vw;
        }
    }

}